*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color:#fff; 
}

.container {
    padding: 30px 5%;
}

.logo {
    width: 42px;
    height: 52px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container nav h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 15px;
    color: #000;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: #000;
    font-weight: 300;
    margin: 5px 3px;
}

.footer {
    left: 0;
    bottom: 0;
    height: 225px;
    width: 100%;
    color: black;
    text-align: center;
}

.footer-logo {
    width: 60px;
    height: 75px;
}

.footer ul li {
    display: inline-block;
    padding: 5px;
    font-weight: 300;
    margin-top: 15px;
}

.footer ul li a {
    color: #000;
}

.social-logo {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 38px;
}

.footer p {
    font-weight: 300;
}
/*my stuff*/

#allPosts {
    width: 80%;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
    list-style-type: none;
}

.indivPost{
    width: 90%;
    max-height: 350px;
    border-color:rgb(193, 193, 193);
    border-style: solid;
    border-width: 1px;
    margin:auto;
    
    display:flex;
}

.indivPost:hover{
    border-color:black;
}

.img {
    background-color: #000;
    flex: 1;
}

.text {
    padding-top:70px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

.text a{
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.text a div{
    min-height: 50px;
}

.text a:hover{
    color:rgb(216, 102, 71);
}

.spacing {
    height: 50px;
}

img {
    height: 348px;
    width: 100%;
}

.summary{
    padding-top:20px;
    line-height: 1.4;
    font-size: 17px;
    max-height: 100px;
}

.likes{
    padding-top: 50px;
}

.likes p{
    padding-top: 5px;
}

hr{
    width:100%;
    height: 1px;
    margin: auto;
    border: none;
    background: rgb(177, 177, 177);
}
