*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color:#fff; 
}

.container {
    padding: 30px 5%;
}

.logo {
    width: 42px;
    height: 52px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container nav h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 15px;
    color: #000;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: #000;
    font-weight: 300;
    margin: 5px 3px;
}

.current-page-header{
    
    color:#560537 !important;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:#FE5E5E;
    text-decoration-thickness: 3px;
}

.footer {
    left: 0;
    bottom: 0;
    height: 225px;
    width: 100%;
    color: black;
    text-align: center;
}

.footer-logo {
    width: 60px;
    height: 75px;
}

.footer ul li {
    display: inline-block;
    padding: 5px;
    font-weight: 300;
    margin-top: 15px;
}

.footer ul li a {
    color: #000;
}

.social-logo {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 38px;
}

.footer p {
    font-weight: 300;
}
/*my stuff*/
#titlePage{
    background-image: url("officeP.jpg");
    background-size: 100%;
    width:100%;
    padding: 0 90px;
    padding-top: 20px;
    padding-bottom: 40px;
    height: 400px;
    color:#fff;
    font-weight:bold;

    display: flex;
}

#titlePage h1{
    align-self:flex-end;
}

#banner{
    display:inline-block;
    width:100%;
    padding: 0 90px;
    padding-top: 20px;
    padding-bottom:20px;
    color:#fff;
    background-color:rgb(255, 95, 77);
}

#banner h3 {
    font-size:25px;
    font-weight: 500;
}

#banner p{
    font-weight: 100;
}

#signup{
    float:right;
    margin-top:-30px;
}

.button {
    border: none;
    background-color:white;
    border-radius: 5px;
    color: black;
    font-weight:100;
    padding: 12px 32px;
    font-size: 14px;
    cursor: pointer;
}

#welcomeWrapper{
    width: 100%;
    padding-top:20px;
    padding-left:100px;
    padding-right:100px;
    display:inline-block;
}

#welcome {
    width: 36%;
    font-size: 40px;
    padding-bottom: 5px;
    float:left;
    
    border-bottom-style:solid;
    border-color:rgb(255, 95, 77);
    border-bottom-width: 3px;
}

#browse input[type=text] {
    width: 12%;
    margin-top: 30px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-color: rgb(163, 163, 163);
    border-bottom-width: 3px;
    float:right;

    font-size: 17px;
    float:right;

    outline: none;
}

.allPosts {
    padding-left:100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 60px;
    display: grid;
    gap: 140px;
    color:#000;
    border-color:#fff;
    margin: 10px;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.indivPost{
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin:auto;
    
    display:flex;
}

.indivPost a{
    position: relative;
}

.indivPost img{
    border-radius: 5px;
    width:100%;
    height:100%;
    object-fit: cover; 
}

.headline{
    position: absolute;
    bottom:0;
    padding: 10px;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    text-align: center;
    color:#fff;
    font-weight:800;
    font-size: 25px;
}

.headline p{
    text-align:left;
    padding-top: 5px;
    font-weight:100;
    font-size: 11px;
}

.shadow {
    width:100%;
    height: 100%;
    position: absolute;
    box-shadow: 1px -152px 47px -69px rgba(0, 0, 0, 0.888) inset;
    top:0;
    left:0;
    border-radius:5px;
}

.img {
    flex: 1;
}

.text {
    padding-top:70px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

.text a{
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.text a div{
    min-height: 50px;
}

.text a:hover{
    color:rgb(216, 102, 71);
}

.spacing {
    height: 50px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 100%;
    max-height:99%;
}

.summary{
    padding-top:20px;
    line-height: 1.4;
    font-size: 17px;
    max-height: 100px;
}

.likes{
    padding-top: 50px;
}

.likes p{
    padding-top: 5px;
}

hr{
    width:100%;
    height: 1px;
    margin: auto;
    border: none;
    background: rgb(177, 177, 177);
}
