*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color:#fff; 
}

.header {
    padding: 30px 5%;
}

.logo {
    width: 42px;
    height: 52px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header nav h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 15px;
    color: #000;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: #000;
    font-weight: 300;
    margin: 5px 3px;
}

.footer {
    left: 0;
    bottom: 0;
    height: 225px;
    width: 100%;
    color: black;
    text-align: center;
}

.footer-logo {
    width: 60px;
    height: 75px;
}

.footer ul li {
    display: inline-block;
    padding: 5px;
    font-weight: 300;
    margin-top: 15px;
}

.footer ul li a {
    color: #000;
}

.social-logo {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 38px;
}

.footer p {
    font-weight: 300;
}

/*my stuff*/
.container {
    padding-top:10px;
    padding-left: 80px;
    padding-right: 60px;
    max-width: 60%;
    line-height:1.5;
}

.container h2 {
    font-size: 40px;
}

input[type=text], input[type=submit] {
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input[type=text] {
    border: 2px solid #ccc;
    border-top:0px;
    border-left:0px;
    border-right:0px;
}

input[type=submit] {
    background-color:#ccc;
    border: none;
    border-radius:7px;
    color:white;
    font-weight:700;
    font-size:16px;
}

input[name="name"], input[name="street"], input[name="phone"], input[name="mail"], input[name="question"], input[type=submit]{
    width:100%;
}

input[name="city"]{
    width:60%;
}

#space {
    display:inline;
}

input[name="postcode"]{
    width:34%;
}

.contacts {
    border-top-style:bold;
    border-bottom-style:bold;
    border-color:black;
    border-width: 2px;
    text-align:center;
    background-color:#560537;
    padding-top:50px;
    padding-bottom: 50px;
}

.contacts-1{
    width:35%;
    border-style: solid;
    border-color:#fff;
    border-width:4px;
    background-color:#D5C0CD;
    margin: auto;

    padding-top:30px;
    padding-bottom:30px;
}

hr{
    width:60%;
    height: 3px;
    margin: auto;
    border: none;
    background: black;
    margin-bottom: 50px;
}

#gmail{
    color:black;
}

.faq{
    padding-top:5%;
    width:100%;
    margin: auto;
}

#title {
    padding-top:150px;
    font-size:70px;
    color:white;
    background-color:rgb(255, 80, 80);
}

#title h1{
    padding-left:60px;
}

#subtitle{
    font-weight:50;
    font-size: 26px;
}

.collapsible {
    background-color: #560537;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    
    font-weight: 500;
    font-size: 20px;
}

.collapsible:after {
    content: '\0076';
    font-weight: bold;
    float: right;
    font-size: 20px;
}
  
.active:after {
    content: "\028C";
}

.content {
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
}

.content p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 17px;
    line-height:1.5;
}
