*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color:#fff; 
}

/* Header */
.header {
    padding: 30px 5%;
}

.logo {
    width: 42px;
    height: 52px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
}

.header nav h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 15px;
    color: #000;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: #000;
    font-weight: 300;
    margin: 5px 3px;
}

/* Footer */
.footer {
    left: 0;
    bottom: 0;
    margin-top: 50px;
    height: 225px;
    width: 100%;
    color: black;
    text-align: center;
}

.footer-logo {
    width: 60px;
    height: 75px;
}

.footer ul li {
    display: inline-block;
    padding: 5px;
    font-weight: 300;
    margin-top: 15px;
}

.footer ul li a {
    color: #000;
}

.social-logo {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 38px;
}

.footer p {
    font-weight: 300;
}

/* Homepage */

#homepage {
    width: 100%;
    height: 680px;
    background-color: rgb(245, 168, 168);
}

#why {
    width: 100%;
    height: 680px;
    background-color: rgb(255, 208, 161);
}

#statistics{
    width: 100%;
    height: 450px;
    background-color: rgb(246, 239, 201);
}

#testimonials{
    width: 100%;
    height: 450px;
    background-color: rgb(248, 204, 204);
}

#join{
    width: 100%;
    height: 400px;
    background-color: rgb(247, 231, 177);
}

/* Logo Garden */
.row.center-xs.middle-xs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-xs-12 {
    flex: 0 0 10%;
    max-width: 50%;
    padding: 20px;
    text-align: center;
    vertical-align: top;
}

.logo-grid.callout img {
    filter: grayscale(1);
    opacity: .5;
    transition: all .25s ease;
}

.callout.logo-grid img:hover {
    filter: none;
    opacity: 1;
}

.callout {
    background-color: #f0f0f0;
    padding: 50px;
}
