* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-color: #f0f0f0;*/
}

.row.center-xs.middle-xs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.col-xs-12 {
    flex: 0 0 10%;
    max-width: 50%;
    padding: 20px;
}

.logo-grid.callout img {
    filter: grayscale(1);
    opacity: .5;
    transition: all .25s ease;
}

.logo-grid.callout img:hover {
    filter: none;
    opacity: 1;
}